#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  will-change: filter;
  transition: filter 600ms;
  color: #61dafbaa;
}
h1:hover {
  filter: drop-shadow(1px 1px 1px #58c4dc);
}

.heart {
  will-change: color;
  transition: color 600ms;
  color: white;
}

.heart:hover {
  color: red;
}

.logo {
  width: 70px;
  animation: shrinkGlow 0.4s forwards;
}

.logo:hover {
  animation: growGlow 0.4s forwards;
}

@keyframes growGlow {
  from{
    transform: scale(1);
    filter: drop-shadow(0 0 0px rgba(88, 196, 220, 0))
  }  
  to {
    transform: scale(1.3);
    filter: drop-shadow(0 0 12px rgba(88, 196, 220, 0.8))
  }
}

@keyframes shrinkGlow {
  from{
    transform: scale(1.3);
    filter: drop-shadow(0 0 12px rgba(88, 196, 220, 0))
  }  
  to {
    transform: scale(1);
  }
}